
.about-heading {
  font-size: 1.5rem;
  margin-top: -5rem;
  width: 95%;
}

.accordion-section {
  display: flex;
  flex-direction: column;
  align-self: center;

  .accordion {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
    text-align: left;

    .sub-heading{
      position: relative;

      background: transparent;
      border: none;
      border-bottom: 1px solid $base-light-darker;
      width: 95%;
    }  

    .icon {
      position: absolute;
      bottom: 1rem;
      right: 1rem;

      color: $stand-out-one;
      font-size: 1rem;
      transition: transform 0.6s ease;
    }
  }

  .rotate {
    transform: rotate(90deg);
  }
  
  .content {
    overflow: auto;
    transition: max-height 0.6s ease;
  }

  .p {
    padding-top: 1rem;
  }
}

