/* Style the accordion section */
.accordion-section {
  display: flex;

  .accordion {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    outline: none;
  }

  .sub-heading{
    display: flex;
    justify-content: space-between;

    background: transparent;
    border: none;
    border-bottom: 1px solid $base-light-darker;
    text-align: left;
    width: 95%;
  }

  .icon {
    color: $stand-out-one;
    font-size: 1rem;
    transition: transform 0.6s ease;
  }
  
  .rotate {
    transform: rotate(90deg);
  }
  
  .content {
    overflow: auto;
    transition: max-height 0.6s ease;
  }

  .p {
    padding-top: 1rem;
  }
}

