.home-and-current-page {
  position: fixed;
  left: 2rem;
  top: 1.6rem;

  background: transparent;
  height: auto;
  z-index: $nameAndHomeLogo;
  display: flex;
}

.home-icon {
  border-bottom: 2px solid $base-dark;
  z-index: $nameAndHomeLogo;
  width:3rem;
}

.current-page {
  align-self: flex-end;
  border-bottom: 2px solid $stand-out-one;
  font-size: 2rem;
  height: 100%;
  margin-left: 5px;
}

@media(min-width: 1220px) {
  .home-icon {
    width:4rem;
  }
}