.home-and-current-page {
  position: fixed;
  left: 2rem;
  top: 2.2rem;
  

  background: transparent;
  height: auto;
  z-index: $nameAndHomeLogo;
  display: flex;
}

.home-icon {
  border-bottom: 2px solid $base-dark;
  z-index: $nameAndHomeLogo;
  width:3rem;
  margin-right: .5rem;
}

.current-page {
  align-self: flex-end;
  color: $base-dark;
  border-bottom: 2px solid $stand-out-one;
  font-size: 2rem;
  padding-bottom: .5rem;
}

