@import '../reusables/colors';
.nav-menu-btn {
  background: $base-light;
  position: fixed;
  top: 2rem;
  right: 2rem;
  z-index: $menuBtn;
}

.nav-menu-btn:hover {
  cursor: pointer;
}

@media(min-width: 850px) {
  .nav-menu-btn {
    top: 10rem;
    right: 11rem;
  }
}