.name {
  font-size: 1.5rem;
  font-weight: 100;
  z-index: $nameAndHomeLogo;

  .logo {
    position: fixed;
    left: 2rem;
    top: 2.2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid $base-dark;

    color: $base-dark;
  }
}

@media(max-width: 850px) {
  .name {
    position: fixed;
    left: 0;
    top: 0;
  }
}
