.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: $base-darker;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 35rem;
  max-width: 100rem;
  min-height: 90vh;
  min-width: 40rem;
  padding: 1rem;
}

@media(min-width: 850px) {
  .container {
    margin-left: 10%;
  }
}

@media(min-width:501px) and (max-width: 849px)  {
  .container {
    margin-left: 5%;
    min-width: 80vw;
  }
}

@media(max-width: 500px)  {
  .container {
    max-width: 95vw;
  }
}

