.stand-out-word {
  background-color: $stand-out-one;
  color: $base-light;
  padding: 2px 4px;
  transition: all .2s ease-in;
}

.stand-out-word:hover {
  background-color: $base-light;
  color: $stand-out-one;
}