.btn {
  background: transparent;
  border: 2px solid $base-dark;
  font-size: 1.5rem;
  font-weight: 600;
  padding: .5rem 1rem;
}

.main-heading {
  font-size: 4rem;
}

.sub-heading {
  font-size: 3rem;
  font-weight: 100;
  color: lighten($color: $stand-out-one, $amount: 5%);
  padding-bottom: .5rem;
  padding-top: 2rem;
}

.p {
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 1.5;
  padding: 1rem 0;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-8 {
  margin-top: 8rem;
}