.btn {
  background: transparent;
  border: 2px solid $base-dark;
  font-size: 1.5rem;
  font-weight: 600;
  padding: .5rem 1rem;
}

.main-heading {
  color: $base-darker;
  font-size: 4rem;
}

.sub-heading {
  font-size: 3rem;
  font-weight: 100;
  color: lighten($color: $stand-out-one, $amount: 5%);
  padding-bottom: .5rem;
  padding-top: 2rem;
}

.p {
  color: $base-dark;
  font-size: 2.5rem;
  letter-spacing: 0;
  line-height: 1.5;
  padding: 1rem 0;
}

.margin-top-4 {
  margin-top: 4rem;
}

.margin-top-8 {
  margin-top: 8rem;
}

.underline {
  border-top: 5px solid $base-dark;
  height: 5px;
  max-width: 90rem;
}

@media(max-width: 500px) {

  .main-heading {
    font-size: 3rem;
  }
  
  .sub-heading {
    font-size: 2.5rem;
  }

  .p {
    font-size: 1.5rem;
  }

  .underline {
    max-width: 80vw;
  }
}

@media(min-width: 1220px) {
  .btn {
    border: 3px solid $base-dark;
    font-size: 2rem;
    padding: .75rem 1.5rem;
  }

  .main-heading {
    font-size: 6rem;
  }
  
  .sub-heading {
    font-size: 5rem;
  }
}