
@import './aboutAccordion';

.sub-heading{
    background: transparent;
    border: none;
    border-bottom: 1px solid $base-light-darker;
    text-align: left;
    width: 100%;

    .open-acc {
      float: right;
      margin-right: 1rem;
    }

    button:focus {
      outline: 1px dotted $base-light-darker;
    }
  }
